<div class="container">
  <h1>All Posts</h1>
  <h4 class="views">(sorted by popularity)</h4>
  <ul id="articles">
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %>
      </li>
    <% end %>
  </ul>
</div>
