<div class="container">
  <h1>Posts By Month</h1>
  <ul class="month_wrap">
      <% @articles_by_month.each do |month, articles| %>
          <li class="month_dropdown"><%= month %><span>(<%= articles.length %>)</span>  </li>
          <div class="month_articles">
            <table style="width:100%">
              <% articles.each do |article| %>
                <tr>
                  <td class="article_row"><%= link_to article.title, article_path(article.id) %></td>
                  <td class="date_row"><%= article.created_at.strftime("%m-%d-%Y") %></td>
                </tr>
              <% end %>
            </table>
          </div>

      <% end %>
  </ul>
</div>
