<div class="container">
  <h1>Articles by Tag</h1>
  <div class="tag_list">
    <% @tags.each do |tag| %>
      <%= link_to tag, tag_path(tag), class: 'tag' %>

      <% if logged_in? %>
        <%= link_to "X", tag_path(tag), method: :delete, class: "delete_btn", data: {confirm: "Really delete the tag?"} %><br />
      <% end %>

    <% end %>
  </div>
</div>
