$yellow: #f1c40f;
$green: #16a388;
$blue: #4169E1;
$gray: #7f8c8d;
$cloud: #ecf0f1;
$light-gray: #FAFAFA;

* {
  font-family: 'Menlo', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;

  nav {
    width: 100%;
    display: block;
    border-bottom: 3px solid $light-gray;
    height: 60px;
    z-index: 100;

    h6 {
      width: 100%;
      display: inline-block;
      .nav_home {
        float: left;
        padding: 0 15px;
        font-size: 16px;

        a:hover {
          color: $yellow;
        }
      }
      .user {
        float: right;
        padding: 10px 10px 10px 10px;
        margin-top: -5px;
      }

      .nav_button {
        cursor: pointer;
        float: right;
        width: 60px;
        margin: -5px 15px;
        padding: 5px 5px;
        border-radius: 4px;
        border: 2px solid $yellow;
        text-align: center;
        font-size: 11px;
        a {
          color: $yellow;
        }
        &:hover {
          background-color: $yellow;
          a {
          color: white;
          background-color: $yellow;
          }
        }
      }
      .tags_btn,
      .month_btn,
      .new_article_link {
        float: left;
        width: 120px;
        margin: -5px 5px 5px 5px;
        border-color: $green;
        a {
          color: $green;
          &:hover {
            color: white;
          }
        }
        &:hover {
          background-color: $green;
          a {
            background-color: $green;
          }
        }
      }
      .new_article_link {
        border-color: $blue;
        color: $blue;
        &:hover {
          background-color: $blue;
          color: white;
        }
      }
    }
  }

  .flash {
    display: block;
    width: 30%;
    margin: 20px auto;
    color: tomato;
    text-align: center;
    border: 2px solid tomato;
    padding: 10px;
    border-radius: 5px;
  }

  .container {
    width: 100%;
    display: inline-block;

    h1 {
      padding: 20px 0 10px 0;
      text-align: center;
    }

    .views {
      text-align: center;
      margin: -30px 0 0 0;
      padding: 0;
      font-size: 10px;
      color: $gray;
    }

    #articles {
      width: 30%;
      margin: 20px auto;
      padding: 10px 0 0 0;

      li {
        padding-bottom: 20px;
        text-align: center;
        font-size: 18px;
        a {
          color: black;
          &:hover {
            color: $yellow;
          }
        }
      }
    }

    .img {
      width: 100%;
      height: 400px;
      background-size: 100% 100%;
      overflow: hidden;
      margin-bottom: 20px;

    img {
      display: block;
      margin: 0 auto;
    }
  }
  
  .article_btn_group {
    float: right;
    margin-right: 25%;

    .edit_btn,
    .delete_btn {
      margin: 0 auto;
      padding: 5px 5px;
      border-radius: 4px;
      color: $yellow;
      border: 2px solid $yellow;
      text-align: center;
      font-size: 12px;

        &:hover {
          color: white;
          background-color: $yellow;
        }
      }
    }
    .article_body {
      white-space: pre-wrap;
      text-align: justify;
      width: 50%;
      display: block;
      margin: 10px auto;
      padding-bottom: 20px;
    }

    .month_wrap {
      width: 30%;
      display: block;
      margin: 0 auto;
      padding: 10px 8px;
      text-align: center;

      li {
        display: block;
        width: 140px;
        padding: 5px 10px;
        margin: 10px auto;
        background-color: $green;
        border-radius: 4px;
        font-size: 18px;
        color: $cloud;
      }
      .month_dropdown {
        &:hover {
          cursor: pointer;
          background-color: $yellow;
          border-color: $yellow;
        }
      }
      .month_articles {
        margin: 0 auto;
        display: block;
        .article_row {
          text-align: left;
        }
        a {
          color: black;
          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}
