// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$yellow: #f1c40f;
$gray: #7f8c8d;
$light-gray: #FAFAFA;

.comments_wrapper {
  display: block;
  margin: 80px auto;
  width: 40%;
  color: $gray;

  .post_comment {
    display: inline-block;
    margin-bottom: 40px;
  }

  #show_comment_form {
    font-weight: 600;
    cursor: pointer;
    padding: 5px 0px;
    font-size: 14px;
    margin: 0 0 20px -2px;
    &:hover {
      color: $yellow;
    }
  }

  form {
    padding: 0 0 40px 0;
    label {
      font-size: 14px;
      margin: 10px 0px 0 60px;
      position: absolute;

    }
    input,
    textarea {
      padding: 10px;
      width: 50%;
      margin: 0 150px;

    }
    textarea {
      height: 80px;
    }

    .submit_comment_btn {
      width: 30%;
      margin: 0 150px;
      cursor: pointer;
      padding: 10px 5px;
      border-radius: 4px;
      color: $yellow;
      border: 2px solid $yellow;
      text-align: center;
      font-size: 14px;
      background-color: white;
      font-weight: 800;
      &:hover {
        color: white;
        background-color: $yellow;
      }
    }
  }

  h3 {
    margin: 0px 0 0 0;
    font-size: 16px;
    font-weight: 400;
  }

  .comment {
    background-color: $light-gray;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;

    h4 {
      margin: 0px 0 2px 0;
      font-size: 14px;
      color: $yellow;
      font-weight: 400;
    }

    .time_stamp {
      margin: 0;
      font-size: 10px;
    }

    .comment {
      font-size: 14px;
      padding: 0;
      line-height: 1.25;
    }
  }
}
